@font-face {
  font-family: 'SFProDisplay';
  src: url('~assets/fonts/SFProDisplay-Regular.woff2') format('woff2'),
  url('~assets/fonts/SFProDisplay-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBMPlex';
  src: url('~assets/fonts/IBMPlexSerif-Regular.woff2') format('woff2'),
  url('~assets/fonts/IBMPlexSerif-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
